extends layout 

block content 
    h1 Enter the secret passcode to become a member

    form(method="POST")
        input.form-control(type='password', placeholder='*********' name='password')
        br
        br
        button.btn-primary(type='submit') Submit
        
    br
    include ./partials/logout-link.pug