extends layout 

block content 
    h1 Username: #{username}

    if posts.length
        h3 Posts by #{username}
        each post in posts
            .post 
                p= post.content
    else 
        p No posts available.

    form(method="POST")
        div.form-group
            label(for="message_content") 
                h2 New Post
            textarea#message_content(name="message_content", cols="100", rows="10") 
            br
            button.btn.btn-primary(type='submit') Submit
            br
            br
            if(user.membership_status === false)
                a(href=`${user.url}/secret`) I have the secret code!
    br
    include ./partials/logout-link.pug
