body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.post{
  background: rgb(124, 123, 134);
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 2px;
}